{% extends 'layouts/base.html' %}
{% load static my_tags %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'main:home' %}">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.start_index }} – {{ page_obj.end_index }}
                                        of {{ page_obj.paginator.count }} results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ object.product.main_image.url }}">
                                        {% if object.product.is_new %}
                                            <span class="label">New</span>
                                        {% endif %}
                                        {% if object.product.is_discount %}
                                            <span class="label {% if object.product.is_new %}
                                    mt-4
                                    {% endif %} " style="background-color: black; color: white;">Sale</span>
                                        {% endif %}
                                        <ul class="product__hover">
                                            {% is_wishlist request object.product.id as obj %}
                                            {% if request.user.is_authenticated %}
                                                {% if obj %}
                                                    <li>
                                                        <a href="{% url 'product:wishlist' object.product.id %}?path={{ request.path }}"><img
                                                                src="{% static 'main/img/heart.png' %}"
                                                                alt=""></a></li>
                                                {% else %}
                                                    <li>
                                                        <a href="{% url 'product:wishlist' object.product.id %}?path={{ request.path }}"><img
                                                                src="{% static 'main/img/icon/heart.png' %}"
                                                                alt=""></a></li>
                                                {% endif %}
                                            {% endif %}

                                            <li><a href="{% url 'product:detail' pk=object.product.pk %}"><img
                                                    src="{% static 'main/img/icon/search.png' %}"
                                                    alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ object.product.name }}</h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>${% if object.product.is_discount %}
                                            {{ object.product.real_price }}
                                            <del class="text-secondary">${{ object.product.price }}</del>
                                        {% else %}
                                            {{ object.product.real_price }}
                                        {% endif %}
                                        </h5>
                                        <div class="product__color__select">
                                            {% for color in object.product.color.all %}
                                                <label for="pc-4" style="background-color: {{ color.code }}">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h1>Empty</h1>
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% if not page_obj.paginator.count < 13 %}
                                    {% paginator_range paginator as p_range %}
                                    {% for page in p_range %}

                                        <a href="?page={{ page }}" class="{% if page_obj.number == page %}
                                    active
                                    {% endif %}">{{ page }}</a>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}

